@helper PrimaryButtonSmall(string style, string size, string caption, string id)
{
    <button id="@id" type="button" class="btn btn-@style btn-@size">@caption</button>
}

@*@helper PrimaryButtonSmall(string id, string caption) {
    <button id="@id" type="button" class="btn btn-primary btn-sm">@caption</button>
    }*@