@{
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                    href="#questionOne">
                    How do I order from you?
                </a>
            </h4>
        </div>
        <div id="questionOne" class="panel-collapse collapse in">
            <div class="panel-body">
                Timoda acanada okochoa munoa
                Kinh ka ka lnoa hoa ;ba kiola 
                Tink al amg sam seamg
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                    href="#questionTwo">
                    Do you ship internationally?
                </a>
            </h4>
        </div>
        <div id="questionTwo" class="panel-collapse collapse">
            <div class="panel-body">
                Integer aliquet ligula eget elit faucibus, quis 
                pretium justo iaculis. Quisque quis dolor volutpat
                varius tellus eget, luctus nibh. Cras tempus
                tincidunt
            </div>
        </div>
    </div>
</div>
    
